<div class='page_wrapper'>
    <div class='side_bar'>
        <img src="assets/logo.jpg" id= "logo">
        <p id= 'blurb'>Cras eu commodo purus. Donec finibus ligula a vestibulum eleifend. Donec luctus nulla et erat efficitur sollicitudin. Sed consectetur consequat Nullam tempor dolor gravida laoreet fermentum.
        </p>

        <% if user_signed_in? && current_user.admin? %>
            <p id='admin_btn'><%= link_to 'New Post', new_post_path %>
            <p id='admin_btn'><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
        <% else %>
            <% if user_signed_in? %>
                <p id='admin_btn'><%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
            <% else %>
                <p id='admin_btn'><%= link_to 'Login', new_user_session_path %></p>
            <% end %>
        <% end %>
    </div>

    <div class='posts'>
        <% @posts.each do |post| %>
            <%= link_to post_path(post) do%>
            <div class='post_wrapper'>
                <div id= "post_image">
                    <%= image_tag post.image.url(:medium) %>
                </div>
                <div id="post_text">
                    <h1><%= post.title %></h1>
                    <p><%= post.body %></p>
                </div>    
            </div>
            <% end %>
        <% end %>
    </div>
</div>