<div class= 'show_page'>
    <%= image_tag @post.image.url(:large) %><br>
    <div id='text_wrapper'>
        <strong><%= @post.title %></strong><br>
        <p><%= @post.body %></p><br>
        <% if signed_in? %>
            <%= link_to 'edit', edit_post_path(@post) %><br>
            <%= link_to 'delete', post_path(@post), method: :delete %><br>
            <%= link_to "back", root_path %>
        <% else %>
            <%= link_to "back", root_path %>
        <% end %>
    </div>
</div>